<!-- Skill & Exp -->
<div id="skill" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h1>Education & Instruction</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequuntur quaerat nulla voluptas,
                reiciendis repellendus quod dolores sint nostrum omnis illum repellat iusto obcaecati quia cum eligendi
                corrupti odio quae</p>
        </div>
    </div>
    <hr class="divider">
    <div class="row mt-sm-3">
        <div class="col">
            <h2 class="text-center text-secondary">Education Overview</h2>
        </div>
    </div>
    <div class="row mt-lg-4" *ngFor="let edu of profile.edu">
        <div class="col">
            <div class="card">
                <h5 class="card-header bg-inverse text-gradient text-center">{{edu.graduation| date: 'fullDate'}}</h5>
                <div class="card-body">
                    <h4 class="card-title text-gradient">{{edu.qualifica}}</h4>
                    <small class="edu text-uppercase">{{edu.luogo}}</small>
                    <p class="card-text text-secondary">{{edu.descrizione}}</p>
                </div>
                <div class="card-footer bg-inverse">
                    <h4 class="text-light text-center">Argomenti principali trattati</h4>
                    <ul class="list-group list-group-flush" *ngFor="let arg of edu.args">
                        <li class="list-group-item edu text-light">{{arg.tag}}: <span class="text-gradient"> {{arg.sh_descr}}</span></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>