<hr class="divider">
<div class="row">
        <div class="col-sm-12">
                <ul class="list-group list-group-flush text-secondary">
                        <li class="list-group-item">E-mail: <span class="mr-lg-5 text-dark float-sm-right">
                                        {{detail.email}}</span></li>
                        <li class="list-group-item">Indirizzo: 
                                <span class="mr-lg-5 text-dark float-sm-right">
                                {{detail.indirizzo}}</span></li>
                        <li class="list-group-item">Telefono: : 
                                <span class="mr-lg-5 text-dark float-sm-right">
                                        {{detail.tel}}</span></li>
                        <li class="list-group-item">Professione: <span class="mr-lg-5 text-dark float-sm-right">
                                        {{detail.professione}}</span></li>
                        <li class="list-group-item">GitHub: <span class="mr-lg-5 text-dark float-sm-right"> <a
                                                href="{{detail.git}}" target="blank"><i
                                                        class="fab fa-github-alt text-gradient"></i></a></span></li>
                        <li class="list-group-item">Skype: <span class="mr-lg-5 text-dark float-sm-right"> <a
                                                href="{{detail.skype}}" target="blank"><i class="fab fa-skype text-gradient"></i></a></span>
                        </li>
                        <li class="list-group-item">Facebook: <span class="mr-lg-5 text-dark float-sm-right"> <a
                                                href="{{detail.facebook}}" target="blank"><i class="fab fa-facebook text-gradient"></i></a></span>
                        </li>
                        <li class="list-group-item">Instagram: <span class="mr-lg-5 text-dark float-sm-right"> <a
                                                href="{{detail.instagram}}" target="blank"><i
                                                        class="fab fa-instagram-square text-gradient"></i></a></span>
                        </li>
                </ul>
        </div>
</div>