<!-- Dumyy Page -->
<div id="skill" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h1>No profile loaded</h1>
            <p>
                Page dummy No content or Content Forbidden
            </p>
        </div>
    </div>
    <hr class="divider" />
    <div class="row mt-sm-3">
        <div class="col">
            <h2 class="text-center text-secondary">Load Profile</h2>
        </div>
    </div>
    <div class="row mt-sm-3">
        <div class="col offset-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/warning.svg" class="card-img-top p-lg-3" alt="alert image" style="background-image: linear-gradient(to bottom, #E5AE9E 50%, #A46F7D);">
                <div class="card-footer">
                    <button type="button" class="btn btn-lg bg-inverse btn-block">Load Demo Profile</button>
                    <button type="button" class="btn bg-gradient btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dumyy Page -->