<!-- Dumyy Page -->
<div id="skill" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h1>No profile loaded</h1>
            <p>
                Page dummy No content or Content Forbidden
            </p>
        </div>
    </div>
    <hr class="divider" />
    <div class="row mt-sm-3">
        <div class="col">
            <h3 class="text-center text-secondary">Alt!! try my app</h3>
        </div>
    </div>
    <div class="container-flex">
        <div class="row mt-sm-3">
            <div class="col text-center">
                <img src="assets/images/warning.svg" class="rounded mx-auto d-block" alt="alert image" style="height: 10em;">
            </div>
        </div>
        <div class="row mt-sm-3">
            <div class="col-12">
                <button type="button" class="btn btn-lg bg-inverse btn-block">Load Demo Profile</button>
            </div>
            <div class="col-12">
                <button type="button" class="btn bg-gradient btn-lg btn-block" data-toggle="modal"
                    data-target="#exampleModalCenter">Login</button>
            </div>
        </div>
    </div>
</div>

<!-- Dumyy Page -->