<article id="detail" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-secondary">Astral Project</h3>
            <small class="text-primary">Angular</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequuntur quaerat nulla voluptas,
                reiciendis repellendus quod dolores sint nostrum omnis illum repellat iusto obcaecati quia cum eligendi
                corrupti odio quae?</p>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-secondary">Screen of Project</h2>
        </div>
    </div>
    <section class="mt-lg-3">
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic01.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic02.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic03.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic04.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic05.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic06.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic07.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic08.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic09.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic10.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic11.jpg" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="assets/images/pic12.jpg" alt=""></a>
            </div>
        </div>
    </section>
</article>