<!-- Nav -->
<nav id="nav" class="mb-lg-4">
    <div class="row">
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="icon solid"><i class="fas fa-home"></i></a>
        </div>
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/works" class="icon solid"><i class="fas fa-folder"></i></a>
        </div>
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/contact" class="icon solid"><i class="fas fa-contact"></i></a>
        </div>
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/skills" class="icon solid"><i class="fas fa-address-card"></i></a>
        </div>
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/works/1" class="icon solid"><i class="fas fa-info"></i></a>
        </div>
        <div class="col-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a href="" class="icon solid" data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
</nav>
<!-- Nav -->