<!-- Nav -->
<nav id="nav">
    <div class="row">
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="icon solid"><i class="fas fa-home"></i></a>
        </div>
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/works" class="icon solid"><i class="fas fa-folder"></i></a>
        </div>
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/skills" class="icon solid"><i class="fas fa-id-card"></i></a>
        </div> 
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/edu" class="icon solid"><i class="fas fa-graduation-cap"></i></a>
        </div>
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/exp" class="icon solid"><i class="fab fa-black-tie"></i></a>
        </div>
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/contact" class="icon solid"><i class="fas fa-paper-plane"></i></a>
        </div>
        <div class="col" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a href="" class="icon solid" data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
</nav>
<!-- Nav -->