<!-- Wrapper-->
  <div id="wrapper">

<!--     Nav menu component load -->
    <app-nav-menu></app-nav-menu>
<!--     Nav menu component load -->  

<!-- Main -->
    <div id="main" style="top: 3em;">

      <!-- Modal login form -->
      <app-modal-login></app-modal-login>
      <!-- Modal login Form -->

      <!-- Route access point -->
      <router-outlet></router-outlet>
      <!-- Route access point -->
      
    </div>
    <!-- Footer -->
      <app-footer style="margin-top: 3em;"></app-footer>
    <!-- Footer -->
    

  </div>