<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-secondary">Featured Tecnologies</h2>
        </div>
    </div>
    <div class="row">
        <div class="card-group">
            <div class="col-sm-4 mt-lg-5" *ngFor="let tec of ptec">
                <div class="card btn" (click)="selectedTec(tec)">
                    <img src="{{tec.logo}}" class="card-img-top" alt="tec">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{tec.nome}} <small style="color: #F7BB97;">{{tec.type}}</small></h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>