<!-- working experience-->
<div id="skill" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h1>Working Experience</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequuntur quaerat nulla voluptas,
                reiciendis repellendus quod dolores sint nostrum omnis illum repellat iusto obcaecati quia cum eligendi
                corrupti odio quae</p>
        </div>
    </div>
    <hr class="divider">
    <div class="row mt-sm-3">
        <div class="col">
            <h2 class="text-center text-secondary">Working Experience Overview</h2>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div class="col">
            <div class="card">
                <h5 class="card-header text-light text-center"
                    style="background-image: linear-gradient(to bottom, #E5AE9E 50%, #A46F7D);">
                    2018-05-25</h5>
                <div class="card-body">
                    <h4 class="card-title text-gradient">Titolo o Ruolo principale ricoperto</h4>
                    <small class="edu text-uppercase">Luogo o Azienda per quale si lavora</small>
                    <p class="card-text text-secondary">Breve descrizione sull azienda e sul ruolo ricoperto all'interno di essa</p>
                </div>
                <div class="card-footer">
                    <h4 class="text-gradient text-center">Mansioni principali svolte</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item edu">Mansione: <span class="text-secondary">
                                Breve descrizione di essa</span></li>
                        <li class="list-group-item edu">Mansione: <span class="text-secondary">
                                Breve descrizione di essa</span></li>
                        <li class="list-group-item edu">Mansione: <span class="text-secondary">
                                Breve descrizione di essa</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- working experience-->