<!-- working experience-->
<div id="skill" class="panel">
    <div class="row">
        <div class="col-sm-12">
            <h1>Working Experience</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequuntur quaerat nulla voluptas,
                reiciendis repellendus quod dolores sint nostrum omnis illum repellat iusto obcaecati quia cum eligendi
                corrupti odio quae</p>
        </div>
    </div>
    <hr class="divider">
    <div class="row mt-sm-3">
        <div class="col">
            <h2 class="text-center text-secondary">Working Experience Overview</h2>
        </div>
    </div>
    <div class="row mt-lg-4" *ngFor="let morexp of exp">
        <div class="col">
            <div class="card">
                <h5 class="card-header text-light"
                    style="background-image: linear-gradient(to bottom, #E5AE9E 50%, #A46F7D);">
                    <span class="text-left">{{morexp.start|date:'mediumDate'}}</span> <span class="text-right">{{morexp.end|date:'mediumDate'}}</span></h5>
                <div class="card-body">
                    <h4 class="card-title text-gradient">{{morexp.ruolo}}</h4>
                    <small class="edu text-uppercase">{{morexp.azienda}}</small>
                    <p class="card-text text-secondary">{{morexp.descrizione}}</p>
                </div>
                <div class="card-footer">
                    <h4 class="text-gradient text-center">Mansioni principali svolte</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item edu" *ngFor="let man of morexp.mansioni">{{man.mansione}}: <span class="text-secondary">
                                {{man.short_desc}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- working experience-->