<!-- Work -->
<article id="work" class="panel">
    <header>
        <h2>Tecnologies, Works & Projects</h2>
    </header>
    <p>
        Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        luctus elit eget interdum.
    </p>
    <hr class="divider">
    
    <!-- Select tec component-->
    <app-select-tec *ngIf="show" (onSelectTec)= "selectProject($event)"></app-select-tec>
    <!-- Select tec component-->

    <!-- Select Project component-->
    <app-select-project *ngIf="!show" [select-pj]='workIn' (onBack)="showDetail()" ></app-select-project>
    <!-- Select Project component-->
    
</article>
<!--End  Work -->