<!-- Contact -->
<article id="contact" class="panel">
    <header>
        <h2>Contact Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit tenetur consequatur maiores ea pariatur aliquam vitae facere itaque laboriosam impedit totam doloribus, tempora architecto, debitis unde, corrupti possimus voluptas et?</p>
    </header>
    <hr class="divider">
    <form action="#" method="post">
        <div>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <input type="text" name="name" placeholder="Your name..." />
                </div>
                <div class="col-6 col-12-medium">
                    <input type="text" name="lname" placeholder="Your Last name..." />
                </div>
                <div class="col-12">
                    <input type="email" name="email" placeholder="Your E-mail..." />
                </div>
                <div class="col-2 col-6-small">
                    <div class="input-group-prepend">
                        <label class="input-group-text text-inverse" for="inputGroupSelect01">Select Profile</label>
                    </div>
                </div>
                <div class="col-10 col-6-small">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option *ngFor="let p of profiles" value="{{p.id}}">{{p.nome}} {{p.cognome}}</option>
                    </select>
                </div>
                <div class="col-12">
                    <input type="text" name="subject" placeholder="Oggetto" />
                </div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message" rows="6"></textarea>
                </div>
                <div class="col-12">
                    <button type="button" class="btn bg-gradient btn-lg btn-block">Invia</button>
                </div>
            </div>
        </div>
    </form>
</article>
<!-- Contact -->