<!-- Me -->
<article id="home" class="panel">
    <div class="row">
        <div class="col-sm-6">
            <h1>Romeo De Vincentis</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequuntur quaerat nulla voluptas,
                reiciendis repellendus quod dolores sint nostrum omnis illum repellat iusto obcaecati quia cum eligendi
                corrupti odio quae?</p>
            <button type="button" class="btn btn-lg btn-block btn-gr btn-gr-1">More Info</button>
        </div>
        <div class="col-sm-6">
            <a href="">
                <img src="assets/images/me.jpg" alt="About me" />
            </a>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group list-group-flush text-secondary">
                <li class="list-group-item">E-mail: <span class="mr-lg-5 text-dark float-sm-right">
                        nome.cognome@email.com</span></li>
                <li class="list-group-item">Indirizzo: <span class="mr-lg-5 text-dark float-sm-right"> Via sanctis 12 ,
                        Arezzo</span></li>
                <li class="list-group-item">Telefono: : <span class="mr-lg-5 text-dark float-sm-right"> 434 912
                        9178</span></li>
                <li class="list-group-item">Professione: <span class="mr-lg-5 text-dark float-sm-right"> Software
                        Developer, Web Developer</span></li>
                <li class="list-group-item">GitHub: <span class="mr-lg-5 text-dark float-sm-right"> <a href="http://"><i
                                class="fab fa-github-alt text-gradient"></i></a></span></li>
                <li class="list-group-item">Skype: <span class="mr-lg-5 text-dark float-sm-right"> <a href="http://"><i
                                class="fab fa-skype text-gradient"></i></a></span></li>
                <li class="list-group-item">Facebook: <span class="mr-lg-5 text-dark float-sm-right"> <a
                            href="http://"><i class="fab fa-facebook text-gradient"></i></a></span></li>
                <li class="list-group-item">Instagram: <span class="mr-lg-5 text-dark float-sm-right"> <a
                            href="http://"><i class="fab fa-instagram-square text-gradient"></i></a></span></li>
            </ul>
        </div>
    </div>
</article>
<!-- Me -->