<!-- Me -->
<article id="home" class="panel">
    <div class="row">
        <div class="col-sm-6">
            <h1>{{profile.nome}} {{profile.cognome}}</h1>
            <p>{{profile.biography}}</p>
            <button type="button" class="btn btn-sm btn-block inverse-btn" (click)="showDetail()">Detail profile</button>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="{{profile.img}}" class="card-img-top" alt="About me">
            </div>
        </div>
    </div>
    <!--Detail profile component -->
    <app-detail-profile *ngIf="show" [detail]='profile'></app-detail-profile>
    <!--Detail profile component -->
</article>
<!-- Me -->